{% extends 'base.html' %}
{% block page %}
    <div class="row">
        <div class="col-md-4">
            <h2>联通3g-web</h2>
            <p>使用时请切换APN为3g-wap模式 </p>
            <p><a class="btn btn-default" href="http://home.huayuebox.com:88/owncloud/index.php/s/Mf1NvRpnTIpeQWd" role="button">下载 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>移动</h2>
            <p>敬请期待...</p>
            <p><a class="btn btn-default" href="#" role="button">下载 &raquo;</a></p>
       </div>
        <div class="col-md-4">
            <h2>电信</h2>
            <p>敬请期待...</p>
            <p><a class="btn btn-default" href="#" role="button">下载 &raquo;</a></p>
        </div>
    </div>
{% endblock %}