{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page %}
{#    <div class="row">#}
{#    <div class="col-md-offset-2 page-header">#}
{#    <h1>Login</h1>#}
{#</div>#}
{#<div class="col-md-offset-2 col-md-8">#}
{#    {{ wtf.quick_form(form) }}#}
{#    <br>#}
{#    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>#}
{#    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>#}
{#</div>#}
{#    </div>#}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        {{ form.hidden_tag() }}
        <input class="form-control" id="username" placeholder="用户名" name="username" required type="text" value="">
{#        <input type="text" class="form-control" placeholder="用户名" id="username" required autofocus>#}
        <input class="form-control" id="password" placeholder="密码" name="password" required type="password" value="">
{#        <input type="password" class="form-control" placeholder="密码" id="password" required>#}
        <div class="checkbox">
          <label>
            {{ form.remember_me()|safe }} {{form.remember_me.label.text|safe}}
          </label>
        </div>
        <div class="btn-group">
            <button class="btn btn-lg btn-primary" type="submit">登录</button>
            <button class="btn btn-lg btn-info" type="button">注册</button>
        </div>

      </form>
        </div>
    </div>


{% endblock %}